input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

body {
    background-color: #dcd0ff;
}

.meaning-container {
    margin-bottom: 10px;
}

.part-of-speech {
    font-weight: bold;
    color: brown; /* Set color to brown */
}

.definition {
    margin-left: 20px;
    color: brown; /* Set color to brown */
}
